.container {
  padding: 40px;
}

.meals {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 20px;
}

.card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-10px) scale(1.03);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  padding: 10px;
  border-radius: 15px;
}

.card h3 {
  margin: 15px 10px 5px;
}

.card p {
  margin: 0 10px;
  color: #ff6b00;
  font-weight: bold;
}

.card button {
  margin: 15px;
  width: calc(100% - 30px);
  background: linear-gradient(135deg, #ff6b00, #ff914d);
  border: none;
  padding: 12px;
  border-radius: 12px;
  color: white;
  cursor: pointer;
}

.card button:hover {
  opacity: 0.9;
}